<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> "systems/onepiece-system/templates/activity/parts/activity-effects.hbs" }}
    <fieldset>
        <legend>{{ localize "DND5E.UTILITY.FIELDS.roll.label" }}</legend>
        {{ formField fields.roll.fields.name value=source.roll.name }}
        {{ formField fields.roll.fields.formula value=source.roll.formula }}
        {{ formField fields.roll.fields.visible value=source.roll.visible input=inputs.createCheckboxInput }}
    </fieldset>
    {{> "systems/onepiece-system/templates/activity/parts/constant-cost.hbs" }}
</section>
